.viewProfilPage {
  border: 1px solid rgb(212 212 213);
  width: 80%;
  margin: 3rem auto;
  border-radius: 1em;
};

div.viewProfilPage-firstPart {
  position: relative;
  margin-bottom: 1em;
}



img.ui.tiny.image.viewProfilPage-firstPartImage {
  border-radius: 50%;
  border: 1px solid black;
  margin: auto;
}

button.ui.button.viewProfilPage-firstPartAddButton {
  font-weight: bolder;
  font-size: x-large;
  padding: .2em .4em;
  position: absolute;
  top: 80%;
  left: 52%;
}

div.viewProfilPage-secondPart, div.viewProfilPage-thirdPart {
  padding-left: 1em;
  padding-right: 1em;
}

div.viewProfilPage-secondPartChangeButtons {
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

div.ui.mini.left.attached.button.viewProfilPage-secondPartChangeButtonsLeft {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  color: black;
  background-color: white;
  border: 1px solid black;
}

div.ui.mini.right.attached.button.viewProfilPage-secondPartChangeButtonsRight {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  color: black;
  background-color: white;
  border: 1px solid black;
}

div.ui.container.viewProfilPage-thirdPartLocation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 0.3em;
}

div.ui.container.viewProfilPage-fourthPart {
  margin-bottom: 1em;
  border-radius: 0.3em;
  text-align: center;
}

div.ui.container.viewProfilPage-fifthPart {
  border: 1px solid #d4d4d5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  text-align: center;
  border-radius: 0.5em;
  margin-bottom: 1em;
}

img.ui.tiny.image.viewProfilPage-fifthPartImage {
  margin: 0 auto;
  border: 2px solid black;
}

div.viewProfilPage-sixthPart {
display: flex;
}

button.ui.mini.button.viewProfilPage-sixthPartDeleteAccountButton {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 1.5em;
  margin: auto;
  margin-bottom: 1em;
}

.setProfilPage-h1.setProfilPage-h1.setProfilPage-h1 {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  font-size: 1.29rem;
  margin-top: -.21425em;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

