// button 'Voir plus'
.seeMore-buttonWrapper {
  text-align: center;
}

.owner {
  text-align: center;
  padding-bottom: 0.5em;
}

.localisation {
  text-align: center;
}

.availableVolume {
  text-align: center;
}