div.ui.cards.searchResultsByLocation-cardGroup {
  display: flex;
  justify-content: center;
}
.searchResultsByLocation-cardContentImgInfos.searchResultsByLocation-cardContentImgInfos.searchResultsByLocation-cardContentImgInfos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.searchResultsByLocation-infoscard {
  text-align: center;
  width: 100%;
}

.ui.card.searchResultsByLocation-card.searchResultsByLocation-card.searchResultsByLocation-card.searchResultsByLocation-card {
  margin: 0rem;
  margin-bottom: 3rem;
}

.searchResultsByLocation-nameManga {
  font-size: 1.7rem;
  color: white;
  background-color: black;
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

.searchResultsByLocation-owner {
  font-size: 1em;
}

.searchResultsByLocation-localisation {
  margin-bottom: 1em;
}


// bouton voir plus
button.ui.black.basic.button.searchResultsByLocation-showMore {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding: 0.2em;
}

button.ui.blue.basic.button.searchResultsByLocation-contactOwner {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding: 0.2em;
}

.searchResultsByLocation-showMore--active {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.searchResultsByLocation-showMore--hidden {
  display: none;
}

.searchResultsByLocation-searchBarWrapper {
  background-image: url('src/components/ContactForm/contactFormBanner.png');
  background-size: cover ;
  padding: 3rem;
  margin-bottom: 3rem;
}