@use '/src/styles/vars';

// General

a.ui.button.noAccount-registerButton {
  border-radius: 1rem;;
  margin: 0 auto;
  border: 1px solid black;
  width: 7.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

div.noAccountBox-buttonWrapper {
  display: flex;
  justify-content: center;
}

div.noAccountBox {
  margin-bottom: 3rem;
  text-align: center;
  width: 100%;
}

div.ui.centered.card.noAccountBox-card {
  width: 80%;
  border-radius: 1rem;
}

div.content.noAccount-cardContent.noAccount-cardContent.noAccount-cardContent {
  text-align: center;
  padding: 0;
}

div.header.noAccount-cardHeader.noAccount-cardHeader.noAccount-cardHeader {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}


// Media Queries

//Desktop-laptops
@media only screen and (min-width : 1224px) {

  div.noAccountBox {
    margin: 0;

  }
  

  // Theming media query





}

// Theming 

.theme1 {
  .noAccount-registerButton.noAccount-registerButton.noAccount-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color :vars.$primaryFontColor_theme1;
  }

  div.header.noAccount-cardHeader.noAccount-cardHeader.noAccount-cardHeader {
    color: vars.$secondaryFontColor_theme1;
    background-color: vars.$secondaryColor_theme1;
  }

  .noAccountBox-card.noAccountBox-card.noAccountBox-card {
    color: vars.$primaryFontColor_theme1;
    background-color: vars.$primaryColor_theme1;
  }
  .noAccount-registerButton.noAccount-registerButton.noAccount-registerButton:hover {
    border: 1px solid vars.$secondaryBorderColor_theme1;
    background-color: vars.$secondaryColor_theme1;
    color :vars.$secondaryFontColor_theme1;
  }

}

.theme2 {
  .noAccount-registerButton.noAccount-registerButton.noAccount-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color :vars.$primaryFontColor_theme2;
  }

  div.header.noAccount-cardHeader.noAccount-cardHeader.noAccount-cardHeader {
    color: vars.$secondaryFontColor_theme2;
    background-color: vars.$secondaryColor_theme2;
  }

  .noAccountBox-card.noAccountBox-card.noAccountBox-card {
    color: vars.$primaryFontColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

}