@use '/src/styles/vars';
// General

.picture {
  display: none;
}
// ChatField

.chatField.chatField.chatField.chatField {
  position: fixed;
  padding-bottom: 1em;
  padding-top: 1em;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right: 0;
  background-color: white;

}

form.chatField-form {
  width: 90%;
}

div.ui.input.chatField-input {
  width: 100%;
}

div.ui.input.chatField-input>input {
  border: 1px solid black;
}


div.chatField-inputAndSubmit {
  display: flex;
  justify-content: center;
}

button.ui.icon.button.chatField-submit {
  border: 1px solid black;
}
.ui.button.chat-otherUserProfilLink {
    border-radius: 1rem;
    margin: 1em;
    border: 1px solid black;
    padding:1.2rem;
    font-size: 0.8rem;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    // box-shadow: 10px 5px 5px black; 
}

// Messages 

.messages.messages.messages {
  padding: 0 2em;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  margin: 80px auto;
}

div.message.message:nth-last-child(2) {
  margin-bottom: 0;
}

.message {
  text-align: left;
  margin-bottom: 2rem;

  &--own {
    text-align: right;
  }

  &-content {
    border-radius: 1rem;
    padding: 1.2rem;
    background-color: rgb(243, 191, 114);
    color: black;
    display: inline-block;
    text-align: left;
    max-width: 80%;
  }

  &-content--own {
    background-color: rgb(105, 174, 252);
    text-align: left;
  }
}
//Theming

.theme1 {

  .ui.button.chat-otherUserProfilLink {
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
    transition: all 0.5s;
  }
  .ui.button.chat-otherUserProfilLink:hover {
    background-color: vars.$secondaryColor_theme1;
    color: vars.$secondaryFontColor_theme1;
  }
}
.theme2 {

  .ui.button.chat-otherUserProfilLink {
    background-color: vars.$secondaryColor_theme2;
    color: vars.$secondaryFontColor_theme2;
    transition: all 0.5s;
  }
  .ui.button.chat-otherUserProfilLink:hover {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
    border:1px solid  vars.$primaryFontColor_theme2;
  }
}


@media only screen and (min-width : 1224px) {
.chatField.chatField.chatField.chatField {
    width: 50%;  
    padding-top:0;
    padding-bottom: 0;
    background-color: transparent;
  }
  form.chatField-form {
    width:100%;
  }
  .chat {
    background-image: linear-gradient(rgba(226, 226, 226, 0.7), rgba(56, 56, 56, 0.7)),url("src/assets/images/conversations-bg.png");
    background-size: cover;
    background-attachment: fixed;
    min-height:60vh;
  }
  button.ui.icon.button.chatField-submit {
    margin:0;
  }
   .messages.messages.messages {
     width: 50%;
     margin: 55px auto;
     background-color: #fff;
     width: 50%;
     border-radius: 25px;
     border-bottom-left-radius:0px ;
     border-bottom-right-radius:0px ;
     min-height: 80vh;
     border: 1px solid #c61100;
     padding-bottom: 20px;
     opacity: 1;
     padding:1em;
     display: flex;
     flex-direction: column;
     justify-content: flex-end
   }
  .picture {
    position:fixed;
    top:50%;
    right:50px;
    display: block; 
    height:15em;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .picture:nth-child(2) {
    left:50px;
  
  }
  .ui.button.chat-otherUserProfilLink {
  display: none;
  }

  
}