// FIRST SECTION : RESULT OF SEARCH

//title of page
h2 {
  text-align: center;
}

// subtitle
div.subtitle {
  text-align: center;
}

// title name of manga
div.titleNameManga {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}

// img result of search
.ui.small.centered.image.manga-image {
  margin-bottom: 1em;
}
// dropdown volumes to add
.ui.fluid.multiple.selection.dropdown.dropdownChooseManga {
  margin: auto;
  width: 50%;
}

// button add volume(s)
.ui.red.button.add-to-my-collection{
  margin: auto;
  display: flex;
  margin-bottom: 3.5em;
}

// SECOND SECTION : MY COLLECTION

// My collection
div.myCollection {
  display: flex;
  justify-content: center;
}

// title of your manga
.header-title-manga-owner {
  text-align: center;
  margin-bottom: 0.5em;
}

// dropdown volume to edit
div.ui.fluid.multiple.selection.dropdown {
  display: flex;
  justify-content: center;
}

// focus 3 buttons
div.tree-buttons {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}