// FIRST SECTION : RESULT OF SEARCH

//title of page
h2 {
  text-align: center;
  // margin-top: 1em;   -> don't work
}

// subtitle
.manageMyCollection-subtitle{
  text-align: center;
}

// title name of manga
.manageMyCollection-titleNameManga {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 0.5em;
}

// img result of search
.manageMyCollection-mangaImage {
  margin-bottom: 0.5em;
}

.manageMyCollection-myCollectionTreeButtons {
  display: flex;
  justify-content: center;
  margin-top: 0.5em;
  margin-bottom: 3em;
}

// SECOND SECTION : MY COLLECTION

// My collection
div.manageMyCollection-myCollection{
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

// title of our manga
.ui.header.manageMyCollection-myCollectionTitleMangaOwner{
  text-align: center;
  margin-bottom: 0.5em;
}

// image of our manga
.ui.small.centered.image.manageMyCollection-myCollectionTitleMangaOwnerImage {
  margin-bottom: 0.5em;
} 

// dropdown volume to edit
.ui.fluid.multiple.selection.dropdown {
  text-align: center;
}

// focus 3 buttons
div.myCollection-tree-buttons{
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
}