@use '/src/styles/vars';

// FIRST SECTION : RESULT OF SEARCH

.manageMyCollection-myCollectionThreeButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

// SECOND SECTION : MY COLLECTION

// title of our manga
h3.manageMyCollection-myCollectionTitleManga{
  font-size: 1rem;
  margin: 0 0.4rem;
}
.manageMyCollection-myCollectionAuthorManga{
  text-align: center;
  font-size: 0.9rem;
  margin-top: 0;
  color: #c1c1c1;
}



// dropdown volume to edit
// .ui.fluid.multiple.selection.dropdown {
//   text-align: center;
// }


.manageMyCollection-itemContentWrapper.manageMyCollection-itemContentWrapper.manageMyCollection-itemContentWrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.manageMyCollection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.manageMyCollection-mainCard.manageMyCollection-mainCard.manageMyCollection-mainCard.manageMyCollection-mainCard  {
  width: 80%;
  border-radius: 1rem;
  margin: 3rem 0;
}


div.content.manageMyCollection-mainCardContent.manageMyCollection-mainCardContent.manageMyCollection-mainCardContent {
  padding: 0rem;
}

.manageMyCollection-mainCardHeader.manageMyCollection-mainCardHeader.manageMyCollection-mainCardHeader {
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

.manageMyCollection-subHeader {
  width: 80%;
  text-align: center;
  margin: 0 10%;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.manageMyCollection-searchBarWrapper {
  background-image: url('src/assets/collection-photo.jpg') ;
  background-size: cover ;
  padding: 2rem;
}

.manageMyCollection-divider.manageMyCollection-divider.manageMyCollection-divider {
  width: 80%;
  margin: 1rem auto;
  background-color: black;
}

.manageMyCollection-subtitle {
  margin: 0 auto;
  text-align: center;
}

.manageMyCollection-titleNameManga {
  text-align: center;
  margin: 1rem 10%;
}
.manageMyCollection-mangaImageWrapper {
  display: flex;
  justify-content: center;
}
img.ui.small.image.manageMyCollection-mangaImage.manageMyCollection-mangaImage.manageMyCollection-mangaImage {
  margin: 0 auto;
}

.manageMyCollection-selectAndAdd.manageMyCollection-selectAndAdd.manageMyCollection-selectAndAdd.manageMyCollection-selectAndAdd {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.manageMyCollection-dropdownSelectAndAdd.manageMyCollection-dropdownSelectAndAdd.manageMyCollection-dropdownSelectAndAdd {
  margin: 1rem 0;
}

h2.ui.header {
  display: flex;
  align-items: center;
}
.manageMyCollection-myCollection.manageMyCollection-myCollection {
  width: 80%;
  margin: 0 auto;
}

.manageMyCollection-myCollectionMangaInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.manageMyCollection-myCollectionButtons.manageMyCollection-myCollectionButtons.manageMyCollection-myCollectionButtons {
  font-size: 1rem;
}
// Theming

.theme1 {

  .manageMyCollection-addToMyCollectionButton.manageMyCollection-addToMyCollectionButton.manageMyCollection-addToMyCollectionButton {
    background-color: vars.$tertiaryColor_theme1;
    color :vars.$secondaryFontColor_theme1;
  }
  button.ui.button.registerForm-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color :vars.$primaryFontColor_theme1;
  }

  div.header.manageMyCollection-mainCardHeader.manageMyCollection-mainCardHeader.manageMyCollection-mainCardHeader {
    color: vars.$secondaryFontColor_theme1;
    background-color: vars.$secondaryColor_theme1;
  }

  .registerForm-card.registerForm-card.registerForm-card {
    color: vars.$primaryFontColor_theme1;
    background-color: vars.$primaryColor_theme1;
  }

  .registerForm-fieldLabel.registerForm-fieldLabel.registerForm-fieldLabel {
    color: vars.$primaryFontColor_theme1;
  }

}

.theme2 {

  .manageMyCollection-addToMyCollectionButton.manageMyCollection-addToMyCollectionButton.manageMyCollection-addToMyCollectionButton {
    background-color: vars.$tertiaryColor_theme2;
    color :vars.$primaryFontColor_theme2;
  }

  button.ui.button.registerForm-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color :vars.$primaryFontColor_theme2;
  }

  div.header.registerForm-cardHeader.registerForm-cardHeader.registerForm-cardHeader {
    color: vars.$secondaryFontColor_theme2;
    background-color: vars.$secondaryColor_theme2;
  }

  .registerForm-card.registerForm-card.registerForm-card {
    color: vars.$primaryFontColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

  .registerForm-fieldLabel.registerForm-fieldLabel.registerForm-fieldLabel {
    color: vars.$primaryFontColor_theme2;
  }

}
