@use '/src/styles/vars';

// Mobile

div.mobileSetProfilPage {
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

div.setProfilPage-mainWrapper {
  border-radius: 1em;
  margin: 3rem;
}

h1.setProfilPage-title {
  text-align: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-size: 1.29rem;
  padding: 1rem;
}

div.contactForm-message {
  text-align: center;
  margin-top: 1em;
  font-size: larger;
  font-weight: bolder;
}

div.ui.fitted.toggle.checkbox {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

div.field.mobileIdCard-holidayWrapper div.ui.input {
  justify-content: center;
  margin-bottom: 1em;
}

textarea.mobileSetProfil-textArea.mobileSetProfil-textArea.mobileSetProfil-textArea {
  margin-bottom: 1em;
}

div.mobileSetProfil-ButtonAddAndImage {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
}

button.ui.circular.icon.button.mobileSetProfil-addButton {
  align-self: flex-end;
}

img.ui.tiny.circular.image.mobileSetProfil-image {
  margin: auto;
  border: 1px solid white;
  width: 45%;
}

button.ui.button.mobileSetProfil-changeImage {
  background-color: #fff;
  color: #000;
  font-size: x-large;
  left: 54%;
  padding: .2em .4em;
  position: absolute;
  top: 59%;
  border: 1px solid rgb(214, 213, 213)
}

h3.mobileSetProfil-h3.mobileSetProfil-h3 {
  text-align: center;
  margin-top: 0.50em;
  margin-bottom: 0.50em;
}

div.ui.input.desktopIdCard-holidayWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
}

div.desktopIdCard-divSaveButton {
  display: flex;
  justify-content: center;
}

div.desktopIdCard-divDeleteButton {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

button.ui.mini.button.desktopIdCard-SaveButtonGreen {
  border-radius: 1.5em;
  color: #21ba45;
  background-color: white;
  border: 1px solid #21ba45;
}

button.ui.button.desktopIdCard-DeleteButtonRed {
  border-radius: 1.5em;
  color: #db2828;
  background-color: white;
  border: 1px solid #db2828;
}

button.ui.negative.button.mobileSetProfil-deleteMyAccount {
  margin-top: 1em;
  border-radius: 1em;
  border: 1px solid white;
}

div.mobileSetProfil-divDeleteMyAccount {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

button.ui.small.negative.button.mobileSetProfil-deleteMyAccount {
  background-color: #D31900;
}

div.mobileSetProfil-groupTwoButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1em;
}

button.ui.button.mobileSetProfil-buttonCancel {
  border-radius: 1rem;
  border: 1px solid white;
}

button.ui.button.mobileSetProfil-buttonValidate {
  background-color: #A1DFD3;
  color: #326158;
  border-radius: 1rem;
  border: 1px solid white;
}

//Desktop

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
  div.setProfilPage-mainWrapper {
    width: 70%;
    margin: auto;
    margin-top: 3rem;
  }

  h1.setProfilPage-title {
    text-align: center;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.7rem;
    padding: 1rem;
  }
}

h1.setProfilPage-title {
  margin-bottom: 0;
}

div.desktopIdCard-MainWrapper {
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-bottom: 2em;
  display: flex;
}

div.desktopIdCard-leftPartWrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 4em;
}

img.ui.medium.centered.image.desktopIdCard-leftPartWrapperImage {
  height: fit-content;
  width: 50%;
}

button.ui.circular.icon.button.desktopSetProfil-addButton {
  align-self: center;
  margin-top: 2em;
}

div.desktopIdCard-rightPartWrapper {
  width: 50%;
}

a.ui.red.right.ribbon.label {
  left: calc(100% + 1.3em);
  padding-left: 1.6em;
  margin-top: 0.5em;
}

div.field.desktopIdCard-holidayWrapper.desktopIdCard-holidayWrapper {
  justify-content: center;
}

div.field.desktopIdCard-holidayWrapper.desktopIdCard-holidayWrapper div.ui.input {
  width: auto;
}

div.ui.label.desktopIdCard-bioLabel {
  margin-bottom: 0.5em;
}

form.ui.form {
  width: 90%;
  margin: auto;
}

button.ui.button.desktopIdCard-EditEmail {
  font-size: 1rem;
  margin-bottom: 1em;
}

div.desktopIdCard-Bottom3Buttons.desktopIdCard-Bottom3Buttons{
  margin-top: 2em;
}

div.desktopIdCard-errorMessage {
  font-weight: bold;
  color: black;
}

// Theming 

.theme1 {

  div.desktopIdCard-errorMessage {
    color: vars.$primaryFontColor_theme1;
  }

  .setProfilPage-mainWrapper {
    border: 1px solid vars.$primaryBorderColor_theme1;
  }

  h1.setProfilPage-title {
    background-color: vars.$secondaryColor_theme1;
    color: vars.$secondaryFontColor_theme1;
    border: 1px solid vars.$primaryBorderColor_theme1;
  }

  img.ui.tiny.image.setProfilPageFirstPartImage {
    border: 1px solid vars.$primaryBorderColor_theme1;
  }

  div.ui.mini.left.attached.button.setProfilPage-thirdPartEmailButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  div.ui.mini.right.attached.button.setProfilPage-thirdPartPasswordButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  button.ui.button.setProfilPage-fifthPartCancelButton.setProfilPage-fifthPartCancelButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  div.ui.label.setProfilPage-fourthPartHolidayModeLabel {
  background-color: vars.$primaryColor_theme1;
  color: vars.$primaryFontColor_theme1;
  }

  button.ui.small.negative.button.mobileSetProfil-deleteMyAccount {
    border: 1px solid vars.$primaryBorderColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  button.ui.small.button.mobileSetProfil-buttonCancel {
    border: 1px solid vars.$primaryBorderColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  button.ui.small.button.mobileSetProfil-buttonValidate {
    border: 1px solid vars.$primaryBorderColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }
}

.theme2 {

  div.desktopIdCard-errorMessage {
    color: vars.$primaryFontColor_theme2;
  }

  h1.setProfilPage-title.setProfilPage-title.setProfilPage-title {
    background-color: white;
    color: vars.$secondaryFontColor_theme2;
  }

  h3.ui.header.ui.header.ui.header.ui.header    {
    color: vars.$primaryFontColor_theme2;
  }


  div.ui.top.left.attached.label.desktopIdCard-leftPartWrapperLogin {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  div.ui.medium.image.desktopIdCard-leftPartWrapperImage {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  .ui.label.desktopIdCard-bioLabel {
    background-color: vars.$primaryColor_theme2;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  p.desktopIdCard-bioP {
    color: vars.$primaryFontColor_theme2;
  }

  button.ui.button.desktopIdCard-EditEmail {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.button.desktopIdCard-memberDelete {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  .desktopIdCard-mainCard {
    background-color: vars.$primaryColor_theme2;
  }

  .setProfilPage-mainWrapper {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  .desktopIdCard-leftPartWrapper {
    background-color: vars.$primaryColor_theme2;
  }

  .desktopIdCard-rightPartWrapper {
    background-color: vars.$primaryColor_theme2;
  }

  img.ui.tiny.image.setProfilPageFirstPartImage {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

  div.ui.mini.left.attached.button.setProfilPage-thirdPartEmailButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  div.ui.mini.right.attached.button.setProfilPage-thirdPartPasswordButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  button.ui.button.setProfilPage-fifthPartCancelButton.setProfilPage-fifthPartCancelButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  div.ui.label.setProfilPage-fourthPartHolidayModeLabel {
  background-color: vars.$primaryColor_theme2;
  color: vars.$primaryFontColor_theme2;
  }

  button.ui.icon.button.desktopIdCard-ButtonValidate {
    border: 1px solid vars.$secondaryFontColor_theme1;
  }

  button.ui.black.icon.button {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.green.icon.button {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  // Theme 2 - Mobile

  
  img.ui.tiny.circular.image.mobileSetProfil-image {
    border: 2px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.large.button.mobileSetProfil-buttonCancel {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.large.button.mobileSetProfil-buttonValidate {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  div.ui.fitted.toggle.checkbox {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.small.button.mobileSetProfil-buttonCancel {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  button.ui.small.button.mobileSetProfil-buttonValidate {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  /* Responsive Mobile ----------- */
  @media only screen and (max-width : 1224px) {
    .setProfilPage-mainWrapper {
      border: 1px solid vars.$primaryBorderColor_theme2;
    }
  }
}