@use '/src/styles/vars';

.setProfilPage-mainWrapper {
  width: 80%;
  margin: 3rem auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
};

div.setProfilPage-firstPart {
  margin-bottom: 1em;
  position: relative;
}

img.ui.tiny.image.setProfilPageFirstPartImage {
  border-radius: 50%;
  margin: 0 auto;
}

button.ui.button.setProfilPage-firstPartAddButton {
  font-weight: bolder;
  font-size: x-large;
  padding: .2em .4em;
  position: absolute;
  border-radius: 50%;
  left: 51%;
  top: 65%;
}

div.setProfilPage-firstPart p {
  margin-top: 1em;
  text-align: center;
}

div.setProfilPage-secondPart {
  margin-bottom: 1em;
}

div.setProfilPage-thirdPart {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

p.setProfilPage-thirdPartParagraphEmail {
  text-align: center;
}

div.ui.mini.buttons.setProfilPage-thirdPartButtonsGroup {
  margin: auto;
}

div.ui.mini.left.attached.button.setProfilPage-thirdPartEmailButton {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  text-align: center;
}

div.ui.mini.right.attached.button.setProfilPage-thirdPartPasswordButton {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  text-align: center;
}

div.ui.modal.transition.visible.active.setProfilPage-thirdPartModalEmail {
  width: 80%;
}

div.ui.modal.transition.visible.active.setProfilPage-thirdPartModalPassword {
  width: 80%;
}

div.setProfilPage-fourthPart {
  margin-bottom: 1em;
  justify-content: space-between;
}

div.field.setProfilPage-fourthPartAdress {
 width: 100%;
 padding-top: 1em;
 padding-bottom: 1em;
}

div.fields.setProfilPage-fourthPartHolidayMode {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 1em;
}

div.setProfilPage-fifthPart {
  margin-bottom: 1em;
  text-align: center;
}

button.ui.button.setProfilPage-fifthPartCancelButton.setProfilPage-fifthPartCancelButton {
  border-radius: 1.5em;
  margin-right: 1em;
}  

button.ui.positive.button.setProfilPage-fifthPartValidateButton {
  border-radius: 1.5em;
}

div.setProfilPage-sixthPart {
  text-align: center;
}

button.ui.negative.button.setProfilPage-sixthPartDeleteAccountButton {
  border-radius: 1.5em;
  color: red;
  background-color: white;
  border: 1px solid red;
  margin-bottom: 1rem;
}

div.ui.modal.transition.visible.active.setProfilPage-sixthPartModalDeleteAccount {
  width: 80%;
}

.setProfilPage-h1.setProfilPage-h1.setProfilPage-h1 {
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

.setProfilPage-padding.setProfilPage-padding.setProfilPage-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}

// Theming 

.theme1 {

  .setProfilPage-mainWrapper {
    border: 1px solid vars.$primaryBorderColor_theme1;
  }

  img.ui.tiny.image.setProfilPageFirstPartImage {
    border: 1px solid vars.$primaryBorderColor_theme1;
  }

  div.ui.mini.left.attached.button.setProfilPage-thirdPartEmailButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  div.ui.mini.right.attached.button.setProfilPage-thirdPartPasswordButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  button.ui.button.setProfilPage-fifthPartCancelButton.setProfilPage-fifthPartCancelButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  .setProfilPage-h1.setProfilPage-h1.setProfilPage-h1 {
    color: vars.$secondaryFontColor_theme1;
    background-color: vars.$secondaryColor_theme1;
  }

  div.ui.label.setProfilPage-fourthPartHolidayModeLabel {
  background-color: vars.$primaryColor_theme1;
  color: vars.$primaryFontColor_theme1;
  }
}

.theme2 {

  .setProfilPage-mainWrapper {
    border: 1px solid vars.$primaryBorderColor_theme2;
  }

  img.ui.tiny.image.setProfilPageFirstPartImage {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

  div.ui.mini.left.attached.button.setProfilPage-thirdPartEmailButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  div.ui.mini.right.attached.button.setProfilPage-thirdPartPasswordButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  button.ui.button.setProfilPage-fifthPartCancelButton.setProfilPage-fifthPartCancelButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  .setProfilPage-h1.setProfilPage-h1.setProfilPage-h1 {
    color: vars.$secondaryFontColor_theme2;
    background-color: vars.$secondaryColor_theme2;
  }

  div.ui.label.setProfilPage-fourthPartHolidayModeLabel {
  background-color: vars.$primaryColor_theme2;
  color: vars.$primaryFontColor_theme2;
  }
}