.setProfilPage {
  border: 1px solid rgb(212 212 213);
  width: 80%;
  margin: 3rem auto;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
};

div.setProfilPage-first-part {
  margin-bottom: 1em;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 1.29rem;
  margin-top: -.21425em;
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

img.ui.tiny.image.setProfilPage-first-part-image {
  border-radius: 50%;
  border: 1px solid black;
  margin: 0 auto;
}

button.ui.button.setProfilPage-first-part-addButton {
  font-weight: bolder;
  font-size: x-large;
  padding: .2em .4em;
  position: absolute;
  left: 51%;
  top: 69%;
}

div.setProfilPage-first-part p {
  padding-top: 1em;
  padding-left: 0.3em;
}

div.setProfilPage-second-part {
  margin-bottom: 1em;
}

div.setProfilPage-third-part {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

button.ui.mini.button.setProfilPage-third-part-emailButton {
  border-radius: 1.5em;
  margin-right: 0.5em;
  text-align: center;
}

button.ui.mini.button.setProfilPage-third-part-passwordButton {
  border-radius: 1.5em;
}

div.setProfilPage-fourth-part {
  margin-bottom: 1em;
  justify-content: space-between;
}

div.field.setProfilPage-fourth-part-adress {
 width: 100%;
 padding-top: 1em;
 padding-bottom: 1em;
}

div.fields.setProfilPage-fourth-part-holiday-mode {
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-top: 1em;
}

div.setProfilPage-fourth-part div{
 margin-right: 1em;
}

div.setProfilPage-fifth-part {
  margin-bottom: 1em;
  text-align: center;
}

button.ui.button.setProfilPage-fifth-part-cancelButton.setProfilPage-fifth-part-cancelButton {
  border-radius: 1.5em;
  margin-right: 1em;
  
}

button.ui.positive.button.setProfilPage-fifth-part-validateButton {
  border-radius: 1.5em;
}

div.setProfilPage-sixth-part {
  text-align: center;
}

button.ui.negative.button.setProfilPage-sixth-part-deleteAccountButton {
  border-radius: 1.5em;
  color: red;
  background-color: white;
  border: 1px solid red;
}






