// Theme 1

  //background colors

  $primaryColor_theme1: white;
  $secondaryColor_theme1: black;
  $tertiaryColor_theme1: #c61100;
  $fourthColor_theme1:#1AB296;

  //font colors

  $primaryFontColor_theme1: black;
  $secondaryFontColor_theme1: white;
  $tertiaryFontColor_theme1: white;
  $metaFontColor_theme1: gray;

  //border colors

  $primaryBorderColor_theme1: black;
  $secondaryBorderColor_theme1: white;


// Theme 2

  //background colors

  $primaryColor_theme2: black;
  $secondaryColor_theme2: white;
  $tertiaryColor_theme2: #c61100;
  $fourthColor_theme2:#1AB296;

  //font colors

  $primaryFontColor_theme2: white;
  $secondaryFontColor_theme2: black;
  $tertiaryFontColor_theme2: white;
  $metaFontColor_theme2: gray;
  //border colors

  $primaryBorderColor_theme2: white;
  $secondaryBorderColor_theme2: black;
