// Global 
  // Card
  div.ui.centered.card.loginform-card {
    width: 80%;
    border-radius: 1rem;
  }

  input#e-mail {
    margin: 0;

    font-size: 0.8rem;
  }
div.field.loginform-field.loginform-field {
  width: 12rem;
  margin: 0 auto;
}
  input #password {
   
    margin: 0;
 
    font-size: 0.8rem;
  }
  // login button
  button.ui.button.login-button {
    border-radius: 1rem;
    margin: 0;
    border: 1px solid black;
    width: 7.5rem;
    font-size: 0.8rem;
  }

  div.content.loginform-cardContent {
    text-align: center;
  }

  // loginform wrapper
  div.loginform {
    margin: 3rem 0;
  }

//Theming 