@use '/src/styles/vars';

// General

div.home-mainWrapper.home-mainWrapper {
  display: flex;
  flex-wrap: wrap;
}

.home-h1.home-h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.home-description.home-description {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 80%;
}

.home-BannerTextButton.home-BannerTextButton.home-BannerTextButton {
  text-align: center;
  width: 100%;
}

.home-buttonWrapper {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.home-cardImage.home-cardImage.home-cardImage {
  height: 100%;
  width: 100%;
  object-fit: contain
}

.ui.button.home-button {
  border-radius: 1rem;
  margin: 0;
  border: 1px solid black;
  width: 7.5rem;
  font-size: 0.8rem;
  // box-shadow: 10px 5px 5px black;
}

.ui.centered.card.home-card {
  overflow: hidden;
  width: 80%;
  border-radius: 0rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.searchExplained-searchWrapper {
  background-image: url("src/assets/images/mangas-faded.png");
  background-size: cover;
  padding: 2rem;
  
}

.searchExplained {
  text-align: center;
}

p.searchExplained-description.searchExplained-description {
  margin-bottom: 2rem;
}

.searchExplained-description {
  margin: 2rem;
  text-align: center;
}

h2.searchExplained-title.searchExplained-title {
  font-size: 1.3rem;
  margin-top: 2rem;
}

// Carousel


.homeCarousel.homeCarousel {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem !important;
}

div.homeCard.homeCard {
  display: flex;
  justify-content: center;
}

div.searchResultsByLocation-owner.searchResultsByLocation-owner {
  font-weight: bold;
}

div.meta.searchResultsByLocation-localisation {
  font-weight: bold;
}

div.ui.selection.dropdown {
  text-align: center;
}

// hover
button.ui.black.basic.button.searchResultsByLocation-showMore:hover {
  background-color: rgb(202, 200, 200) !important;
  opacity: 0.8;
  transition: all 0.5s;
}

button.ui.blue.basic.button.searchResultsByLocation-contactOwner:hover {
  background-color: rgb(187, 203, 216) !important;
  opacity: 0.8;
  transition: all 0.5s;
}

// Home Card 

.homeCard-cardContentImgInfos.homeCard-cardContentImgInfos.homeCard-cardContentImgInfos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.homeCard-infoscard {
  text-align: center;
  width: 100%;
}

.ui.card.homeCard-card.homeCard-card.homeCard-card.homeCard-card {
  margin: 0rem;
  margin-bottom: 1rem;
}

.homeCard-nameManga {
  font-size: 1.7rem;
  color: white;
  background-color: black;
  width: 100%;
  margin: 1rem 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeCard-owner {
  font-size: 1em;
  
}

.homeCard-localisation {
  margin-bottom: 1em;
}


// button see more
button.ui.black.basic.button.homeCard-showMore {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  padding: 0.2em;
}

button.ui.blue.basic.button.homeCard-contactOwner {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  padding: 0.2em;
}

.homeCard-showMore--active {
  margin-top: 1em;
  margin-bottom: 1em;
  display: block;
}

.homeCard-showMore--hidden {
  display: none;
}

.homeCard-searchBarWrapper {
  background-image: url('src/assets/images/alternativeBanner.png');
  background-size: cover;
  padding: 3rem;
  margin-bottom: 3rem;
}

.home-ParisResultsTitleWrapper {
  margin: 0 auto;
  width: 80%;
  margin-top: 2rem;
  color: #c61100;
}

.home-ParisResultsTitle.home-ParisResultsTitle {
  font-size: 1.3rem;
  text-align: center;
}

.home-divider.home-divider.home-divider {
  width: 80%;
  margin: 1rem auto;
  background-color: black;
}

// Media queries

// Desktop and laptops
@media only screen and (min-width : 1224px) {


  .home-banner.home-banner.home-banner {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }

  .home-BannerTextButton.home-BannerTextButton.home-BannerTextButton {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .home-h1.home-h1.home-h1 {
    text-align: center;
  }

  .home-description.home-description.home-description {
    text-align: center;
  }

  .searchExplained-searchWrapper.searchExplained-searchWrapper {
    width: 70%;
    margin: 0 auto;
    border-radius: 2em;
    background-position: 50% 95%;
  }

  .home-h1.home-h1 {
    font-size: 2rem;
  }

  .home-description.home-description {

    font-size: 1.5rem;
    width: 70%;
  }

  .homeCarousel.homeCarousel {
    width: 70%;
    margin-top: 2rem;
  }

  p.searchExplained-description.searchExplained-description {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }

  h2.searchExplained-title.searchExplained-title {
    font-size: 2rem;
  }

  div.searchExplained-searchWrapper.searchExplained-searchWrapper.searchExplained-searchWrapper {
    margin-bottom: 3%;
  }


  .home-buttonWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .ui.button.home-button {
    border-radius: 1rem;
    margin: 0;
    border: 1px solid black;
    width: auto;
    font-size: 1.5rem;
  }

  .home-buttonArtificalMargin {
    width: 3rem;
  }


.home-ParisResultsTitleWrapper {
  margin-bottom: 2rem;
  width: 70%;
}

.home-ParisResultsTitle.home-ParisResultsTitle {
  font-size: 2rem;
  text-align: center;
}

.home-divider.home-divider.home-divider {
  width: 70%;
  margin: 2rem auto;
}


.searchExplained-searchBar.searchExplained-searchBar.searchExplained-searchBar {
  width: 15% !important;
}
  // Theming media query





}


// Theme 
.theme1 {
  .home-BannerTextButton.home-BannerTextButton.home-BannerTextButton {
    background-color: vars.$secondaryColor_theme1;
    color: vars.$secondaryFontColor_theme1;
  }

  .searchExplained.searchExplained.searchExplained {
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
  }

  h2.searchExplained-title.searchExplained-title {
    color: vars.$tertiaryColor_theme2;
  }

  .home {
    background-color: vars.$primaryColor_theme1;
  }

  .home-button.home-button.home-button {
    background-color: vars.$primaryColor_theme1;
    color: vars.$primaryFontColor_theme1;
    transition: all 0.5s;
  }
  
  .home-button.home-button.home-button:hover {
    background-color: vars.$secondaryColor_theme1;
    color: vars.$secondaryFontColor_theme1;
    border:1px solid vars.$secondaryBorderColor_theme1;
  }
}

.theme2 {
  .home-BannerTextButton.home-BannerTextButton.home-BannerTextButton {
    background-color: vars.$secondaryColor_theme2;
    color: vars.$secondaryFontColor_theme2;
  }

  .searchExplained.searchExplained.searchExplained {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  h2.searchExplained-title.searchExplained-title {
    color: vars.$tertiaryColor_theme2;
  }

  .home {
    background-color: vars.$primaryColor_theme2;
  }

  .home-button.home-button.home-button {
    background-color: vars.$primaryColor_theme2;
    color: vars.$primaryFontColor_theme2;
  }

  div.searchResultsByLocation-owner.searchResultsByLocation-owner {
    color: vars.$primaryFontColor_theme1;
  }
  
  button.ui.black.basic.button.searchResultsByLocation-showMore:hover {
    background-color: rgb(180, 172, 172) !important;
    transition: all 0.5s;
  }
  
}
