// General


div.searchbar-searchWrapper {
  margin: 3rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.ui.fluid.search {
  width: 80%;
}

div.ui.icon.input {
  width: 100%;
}



// Theming