div.ui.centered.card.contactForm-card {
  width: 80%;
  border-radius: 1rem;
  margin-top: 3rem;
}

div.contactForm {
  margin-bottom: 3rem;
}

button.ui.button.contactForm-sendButton {
  border-radius: 1rem;
  margin: 0;
  border: 1px solid black;
  width: 7.5rem;
  font-size: 0.8rem;
}
div.contactForm-buttonWrapper {
  display: flex;
  justify-content: center;
}

div.content.contactForm-cardContent.contactForm-cardContent.contactForm-cardContent {
  padding: 0;
}

div.header.contactForm-cardHeader.contactForm-cardHeader.contactForm-cardHeader {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}