@use '/src/styles/vars';

// General 

.alreadyAccount {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.registerForm{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

div.ui.card.registerForm-card {
  width: 80%;
  border-radius: 1rem;
  margin: 3rem 0;

}

.registerForm-registerButton.registerForm-registerButton.registerForm-registerButton {
  border-radius: 1rem;
  margin: 0;
  width: 7.5rem;
  font-size: 0.8rem;
}

div.registerForm-buttonWrapper {
  display: flex;
  justify-content: center;
}

div.content.registerForm-cardContent.registerForm-cardContent.registerForm-cardContent {
  padding: 0;
}

div.header.registerForm-cardHeader.registerForm-cardHeader.registerForm-cardHeader {
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

form.ui.form.registerForm-form.registerForm-form{
  padding: 1rem;
}

// Theming 

.theme1 {
  button.ui.button.registerForm-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color :vars.$primaryFontColor_theme1;
  }

  div.header.registerForm-cardHeader.registerForm-cardHeader.registerForm-cardHeader {
    color: vars.$secondaryFontColor_theme1;
    background-color: vars.$secondaryColor_theme1;
  }

  .registerForm-card.registerForm-card.registerForm-card {
    color: vars.$primaryFontColor_theme1;
    background-color: vars.$primaryColor_theme1;
  }

  .registerForm-fieldLabel.registerForm-fieldLabel.registerForm-fieldLabel {
    color: vars.$primaryFontColor_theme1;
  }

}

.theme2 {
  button.ui.button.registerForm-registerButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color :vars.$primaryFontColor_theme2;
  }

  div.header.registerForm-cardHeader.registerForm-cardHeader.registerForm-cardHeader {
    color: vars.$secondaryFontColor_theme2;
    background-color: vars.$secondaryColor_theme2;
  }

  .registerForm-card.registerForm-card.registerForm-card {
    color: vars.$primaryFontColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

  .registerForm-fieldLabel.registerForm-fieldLabel.registerForm-fieldLabel {
    color: vars.$primaryFontColor_theme2;
  }

}

