// General 

.alreadyAccount {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.registerForm{
  margin: 3rem 0;
}

div.ui.card.registerForm-card {
  width: 80%;
  border-radius: 1rem;
}

.registerForm-registerButton.registerForm-registerButton.registerForm-registerButton {
  border-radius: 1rem;;
  margin: 0;
  border: 1px solid black;
  width: 7.5rem;
  font-size: 0.8rem;
}

div.registerForm-buttonWrapper {
  display: flex;
  justify-content: center;
}

div.content.registerForm-cardContent.registerForm-cardContent.registerForm-cardContent {
  padding: 0;
}

div.header.registerForm-cardHeader.registerForm-cardHeader.registerForm-cardHeader {
  color: white;
  background-color: black;
  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
}

form.ui.form.registerForm-form.registerForm-form{
  padding: 1rem;
}

// Theming

