// General

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: #c61100;
  color: white;
}

a.item.footer-items.footer-items.footer-items {
  color: white;
}

a.item.footer-items.footer-items.footer-items[tabIndex]:focus  {
  color: white;
}
// Theming
