@use '/src/styles/vars';

// General

.footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
}
.items.footer-items{

}
// Theming

.theme1 {

  .footer {
    background-color: vars.$tertiaryColor_theme1;
    color: vars.$tertiaryFontColor_theme1;
  }

  .ui.secondary.menu a.item{
    transition: color 0.5s;
  }
  a.item.footer-items.footer-items.footer-items {
    color: vars.$tertiaryFontColor_theme1;
    font-weight: bolder;

  }

  a.item.footer-items.footer-items.footer-items[tabIndex]:focus {
    color: vars.$tertiaryFontColor_theme1;
  }

  .ui.secondary.menu a.item:hover{
    background-color:#c61100;
    color:black;
  }
}

.theme2 {
  .footer {
    background-color: vars.$tertiaryColor_theme2;
    color: vars.$tertiaryFontColor_theme2;
  }
  .ui.secondary.menu a.item{
    transition: color 0.5s;
  }
  a.item.footer-items.footer-items.footer-items {
    color: vars.$tertiaryFontColor_theme2;
    font-weight: bolder;

  }

  a.item.footer-items.footer-items.footer-items[tabIndex]:focus {
    color: vars.$tertiaryFontColor_theme2;
  }

  .ui.secondary.menu a.item:hover{
    background-color:#c61100;
    color:black;
  }
}

// Media queries

// Desktop and laptops
@media only screen and (min-width : 1224px) {
  .theme1 {

    .footer.footer {
      background-color: vars.$primaryColor_theme1;
      color: vars.$primaryFontColor_theme1;
    }


    a.item.footer-items.footer-items.footer-items {
      color: vars.$primaryFontColor_theme1;
      
    }
  
    a.item.footer-items.footer-items.footer-items[tabIndex]:focus {
      color: vars.$primaryFontColor_theme1;
    }
    .ui.secondary.menu a.item:hover{
      background-color:#fdfdfd;
      color:#c61100;
      
    }
  }
  .theme2 {

    .footer.footer {
      background-color: vars.$primaryColor_theme2;
      color: vars.$primaryFontColor_theme2;
    }

    a.item.footer-items.footer-items.footer-items {
      color: vars.$primaryFontColor_theme2;
    }
  
    a.item.footer-items.footer-items.footer-items[tabIndex]:focus {
      color: vars.$primaryFontColor_theme2;
    }

    .ui.secondary.menu a.item:hover{
      background-color:#000000;
      color:#c61100;
      
    }
  }
}