@use '/src/styles/vars';

// General

.alreadyAccountBox-loginButton.alreadyAccountBox-loginButton.alreadyAccountBox-loginButton {
  border-radius: 1rem;;
  margin: 0;
  width: 7.5rem;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

div.alreadyAccountBox-buttonWrapper {
  display: flex;
  justify-content: center;
}

div.alreadyAccountBox {
  margin-bottom: 3rem;
  text-align: center;
}

div.ui.card.alreadyAccountBox-card {
  width: 80%;
  border-radius: 1rem;
}

div.content.alreadyAccountBox-cardContent.alreadyAccountBox-cardContent.alreadyAccountBox-cardContent {
  text-align: center;
  padding: 0;
}

div.header.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader {

  padding: 1rem;
  margin-bottom: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

form.ui.form.contactForm-form.contactForm-form.contactForm-form {
  padding: 1rem;
}

// Theming 

.theme1 {
  .alreadyAccountBox-loginButton.alreadyAccountBox-loginButton.alreadyAccountBox-loginButton {
    border: 1px solid vars.$primaryBorderColor_theme1;
    background-color: vars.$primaryColor_theme1;
    color :vars.$primaryFontColor_theme1;
  }

  div.header.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader {
    color: vars.$secondaryFontColor_theme1;
    background-color: vars.$secondaryColor_theme1;
  }
  
  .alreadyAccountBox-card.alreadyAccountBox-card.alreadyAccountBox-card {
    color: vars.$primaryFontColor_theme1;
    background-color: vars.$primaryColor_theme1;
  }

}

.theme2 {
  .alreadyAccountBox-loginButton.alreadyAccountBox-loginButton.alreadyAccountBox-loginButton {
    border: 1px solid vars.$primaryBorderColor_theme2;
    background-color: vars.$primaryColor_theme2;
    color :vars.$primaryFontColor_theme2;
  }

  div.header.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader.alreadyAccountBox-cardHeader {
    color: vars.$secondaryFontColor_theme2;
    background-color: vars.$secondaryColor_theme2;
  }
  
  .alreadyAccountBox-card.alreadyAccountBox-card.alreadyAccountBox-card {
    color: vars.$primaryFontColor_theme2;
    background-color: vars.$primaryColor_theme2;
  }

}

