@use '/src/styles/vars';

// General

#nav-logo {
  width:100px;
}

.ui.segment.nav-segment {
  height: 10vh;
}

.ui.menu.nav-menu {
  height: 10vh;
}


// Theme specific

.theme1 {
  .ui.menu.item {
    background-color: vars.$primary_theme1;
  }
}

.theme2 {
  .ui.menu.item {
    background-color: vars.$primary_theme2;
  }
}